*{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{

}
.head{
    display: flex;
}
.list{
    display: flex;
}
form{
    width: 50%;
    display: flex;
    justify-content: space-around;
}

a{
   
}
.list{
    width: 65%;
    display: flex;
    justify-content: space-between;
    margin-left: 68%; 

}
li{
    padding: 10px;
}
input{
    /* border-radius: 10px;
    padding: 10px; */
}
a{
    color: #000;
    font-size: 19px;
}
.style{
    border-color: grey;
    border-width: 2px;
    border-radius: 30px;
}
button{
    background-color: rgb(3, 245, 3);
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px;
}